@font-face {
    font-family: titleFont;
    src: url(../fonts/Exo-Medium.otf);
}

html{
		overflow-y:scroll;
}

body {
	display:table;
	margin:2% auto 2% auto;
	width:95%;
	font-family:Segoe UI;
}

header{
	border:2px solid black;
	margin-bottom:40px;
}

h1 {
	line-height: 250%;
}

a{
	transition:all .5s;
}

a:hover{
	cursor:pointer;
	font-size:15px;
	text-decoration:none;
}

section{
  display: block;
  opacity:1;
  margin-right: auto;
  margin-left: auto;
  margin-bottom:40px;
  padding-right: auto;
  padding-left: auto;
  padding-top:40px;
  padding-bottom:40px;
  border:2px solid black;
  background-color:gainsboro;
}

#wrapper{
	background-color:#989898;
	border:5px solid black;
	padding-bottom:0 !important;
}

#header table{
	font-size:12px;
}

#content tr:nth-child(even) {
    background-color: #FFFFFF;
}

#content tr:last-child {
	border-bottom: 2px solid black;
}

#activity-details{
	background-color:#C0C0C0;
}

#wrapper{
	padding:40px;
}

#operation-view h3{
	color:white;
}

#activity-details{
	margin-top:40px;
}

.color-background{
	background-color: gainsboro;
}

.main-title{
	font-family:titleFont;
	font-weight:600;
}

.blankspace {
	height:50px;
}

.centered{
    text-align:center;
    }

.text-right{
    text-align:right
    }
    	
.full-width {
	width: 100%;
}

.up-down-padding{
	padding-top:2%;
	padding-bottom:2%;
}

.alignment-vertical{
	height:100%;
}

.title-center {
	margin-left:auto;
	margin-right:auto;
}

.table-header{
	font-weight: 600;
	font-family:titleFont;
}

.results-table > th > td{
	border:1px solid black;
	border-collapse:collapse;
}

.table-header td{
	border-bottom:2px solid black;
	border-top: none;
	border-right:none;
	border-left:none;
}

.simple-border {
	border:1px solid black;
}

.no-visible {
	display:none;
}

.visible {
	display:block;
}

.btnActive{
	background-color:lightblue;
}

.bigger {
	font-size:30px;
	font-weight:300;
	font-family:titleFont;
}

.blankspaceSmall{
	height:30px;
}

.clickable-row:hover, .clickable-row2:hover{
	background-color:lightblue;
}


